{% extends 'reservations/base.html' %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-4">
            <h1 class="mb-4">Rejestracja</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-danger w-100">Zarejestruj się</button>
            </form>
            <br>
            <a href="{% url 'login' %}">Masz już konto? Zaloguj się</a>
        </div>
    </div>
{% endblock %}